html,
body {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    background-image: url(images/headerpicture.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #407D9D;
    background-size: 50% auto;
}

.header {
    height: 18em;
}

.header img {
    margin-left: 10%;
    position: relative;
    width: 12%;
    float: left;
    border-radius: 100%;
    border: 2px solid black;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.myBody .container {
    width: 100%;
    margin: 5px;
    height: 750px;
}

.mynav {
    padding: 0;
    margin-top: 15px;
    text-align: center;
}

.mynav li {
    font-size: 20px;
    margin: 0 75px;
    display: inline;
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.contentHolder {
    min-height: 20em;
    border: 1px solid black;
    text-align: center;
    height: auto;
}

.link {
    color: #407D9D;
    display: inline-block;
}

.my-animation.ng-enter {
    position: relative;
    -webkit-animation: enter 0.4s;
    animation: enter 0.4s;
}

.my-animation.ng-leave {
    -webkit-animation: exit 0.4s;
    animation: exit 0.4s;
}

.activeClass,
.activeClass:hover {
    background-color: green;
}

.projectsContainer {
    text-align: center;
}

.projectsContainer h4 {
    font-style: italic;
}

.objectClass {
    /*    display: table; 
    */
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 1200px;
    text-align: center;
}

.objectClass:hover {
    background-color: #b5dcff;
}

.item {
    text-align: center;
    border: 2px solid black;
    padding: 2em;
    margin: 1em .5em;
    color: red;
    height: 175px;
    text-overflow: ellipsis;
    border-radius: 20px;
}

.item h2 {
    font-size: 24px;
    text-decoration: underline;
    color: blue;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/*
http://jsfiddle.net/vivmaha/oq6prk1p/9/
*/

@-webkit-keyframes enter {
    from {
        right: -300px;
        top: -1px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

@keyframes enter {
    from {
        right: -300px;
        top: -500px;
        opacity: 0
    }
    to {
        right: 0;
        top: 0px;
        opacity: 1
    }
}

@-webkit-keyframes exit {
    from {
        right: 0px;
        opacity: 1
    }
    to {
        right: -300px;
        opacity: 0
    }
}

@keyframes exit {
    from {
        right: 0;
        opacity: 1
    }
    to {
        right: -300px;
        opacity: 0
    }
}

@media only screen and (max-width: 1200px) {
    .header {
        background-size: contain;
    }
    .mynav li {
        margin: 0 2em;
    }
}

@media only screen and (max-width: 900px) {
    .mynav li {
        margin: 0 2.5%;
    }
}

@media only screen and (max-width: 675px) {
    .mynav {
        text-align: center;
    }
    .mynav li {
        margin: 2px;
        text-align: center;
        width: 80%;
        display: inline-block;
    }
}
