.header {
    text-align: center;
    height: 500px;
    background-image: url(images/headerpicture.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #407D9D;
    background-size: 50% auto;
}

.container {
    background-color: aqua;
}

.mybody {
    display: inline-block;
    text-align: right;
}

.content {
    text-align: center;
    width: 100em;
}

.link {
    text-transform: uppercase;
    font-weight: bold;
    color: #407D9D;
    font-family: 'Lato', sans-serif;
    display: inline-block;
}

.link h1 {
    /*    font-size: 5em; */
    border: .1em solid black;
    border-radius: 5em;
}

.link h1:hover {
    border-color: green;
}

.link a {
    color: inherit;
    text-decoration: none;
}

.animate-enter,
.animate-leave {
    -webkit-transition: 600ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -moz-transition: 600ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -ms-transition: 600ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -o-transition: 600ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    transition: 600ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
}

.animate-enter {
    left: -100%;
}

.animate-enter.animate-enter-active {
    left: 0;
}

.animate-leave {
    left: 0;
}

.animate-leave.animate-leave-active {
    left: 100%;
}
