.header {
    text-align: center;
    background-image: url(images/headerpicture.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #407D9D;
    background-size: 50% auto;
}

.header {
    height: 20em;
}

.header img {
    margin-left: 10%;
    position: relative;
    width: 12%;
    float: left;
    border-radius: 100%;
    border: 2px solid black;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.myBody .container {
    width: auto;
    margin: 5px;
    height: 750px;
}

.mynav {
    margin-top: 15px;
    text-align: center;
}

.mynav li {
    font-size: 20px;
    margin: 0 75px;
    display: inline;
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.contentHolder {
    min-height: 20em;
    border: 1px solid black;
    text-align: center;
    height: auto;
}

.link {
    text-transform: uppercase;
    color: #407D9D;
    display: inline-block;
}

.my-animation.ng-enter {
    position: relative;
    -webkit-animation: enter 0.4s;
    animation: enter 0.4s;
}

.my-animation.ng-leave {
    -webkit-animation: exit 0.4s;
    animation: exit 0.4s;
}

.activeClass,
.activeClass:hover {
    background-color: green;
}

@-webkit-keyframes enter {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

@keyframes enter {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

@-webkit-keyframes exit {
    from {
        right: 0px;
        opacity: 1
    }
    to {
        right: -300px;
        opacity: 0
    }
}

@keyframes exit {
    from {
        right: 0;
        opacity: 1
    }
    to {
        right: -300px;
        opacity: 0
    }
}

@media only screen and (max-width: 1200px) {
    .header {
        background-size: contain;
    }
    .mynav li {
        margin: 0 2em;
    }
}

@media only screen and (max-width: 900px) {
    .mynav li {
        font-size: 75%;
        margin: 0 2.5%;
    }
}

@media only screen and (max-width: 550px) {
    .mynav {
        text-align: center;
    }
    .mynav li {
        margin: 2px;
        text-align: center;
        width: 50%;
        display: inline-block;
    }
}
